<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SqlServerTestApp.Properties.Settings.Васильчугов_ПрактикаConnectionString"
            connectionString="Data Source=204-6\SQLEXPRESS;Initial Catalog=&quot;Васильчугов Практика&quot;;User ID=nekekos;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>